<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button routerLink="/halaman-baru">Input</ion-button>
    <ion-button routerLink="/halaman-fav">Favorite</ion-button>
    <br/><br/>
    
    <ion-item *ngFor="let note of listNotes">
      Judul -> {{note.judulNote}} <br />
      Isi -> {{note.isiNote}} <br />
      Tanggal -> {{note.tglNote}} <br />
      <ion-button (click)="addFav(note.idNote)" *ngIf="!note.favStatus">Add to Favorite</ion-button>
      <ion-button (click)="removeFav(note.idNote)" *ngIf="note.favStatus">
        Remove from Favorite
      </ion-button>
      <br/>
    </ion-item>

  </div>

</ion-content>
